.flower-card {
  background-color: #f2f2f2;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.flower-card:hover {
  transform: translateY(-5px);
}

.flower-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.flower-content {
  padding: 1rem;
  text-align: left;
}

.flower-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #451425;
  margin-bottom: 0.3rem;
}

.flower-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.flower-price {
  color: #65081F;
  font-weight: bold;
  font-size: 1rem;
}
