.login {
  padding: 2rem;
  background-color: white;
}

.login h2 {
  color: #58181F;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  background-color: #451425;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}
.login .error-message {
  color: red;
  font-size: 0.9rem;
}